/* Ojuju Regular */
#ojusu-text {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>; /* Replace <weight> with the desired weight */
  font-style: normal;
}

/* Berkshire Swash Regular */
#berkshire-text {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

/* Delius Swash Caps */
@font-face {
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/deliusswashcaps/v23/oY1E8fPLr7v4JWCExZpWebxVKORpXUeaIGY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#delius-text {
  font-family: 'Delius Swash Caps', cursive;
  font-weight: 400;
  font-style: normal;
}
